.stars {
    position: absolute;
    background: white;
    border-radius: 50%;
    z-index: -999;
    width: 2px;
    height: 2px;
    opacity: 0.8;
    transition: transform 2s, opacity 2s;
    /* 动画持续时间 */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    /* 清除默认的外边距 */
    height: 100vh;
    /* 让 body 占满整个视口高度 */
    display: flex;
    /* 使用 Flexbox */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    overflow: hidden;
    /* 隐藏溢出的内容 */

}

#planet-name {
    position: absolute;
    top: 1vh;
    /* 使用 vh 单位以确保在不同屏幕高度下保持一致 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vw;
    /* 根据视窗宽度调整字体大小，使其更具响应性 */
}

.character {
    position: absolute;
    top: 8vh;
    /* 使用 vh 单位让其相对视窗高度的位置保持一致 */
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    /* 使用视窗宽度调整字体大小 */
    color: #4f8fff;
}




.planet-fact-title {
    text-align: center;
}

.planet-fact-paragraph {
    color: white;
    text-align: left;
}


.content {

    display: flex;
    position: relative;
    /* 改为相对定位，确保布局更灵活 */
    left: 5%;
    height: auto;

    transform: translateY(0) scale(1) rotateY(0deg);

    flex-direction: column;
    line-height: 2;
    justify-content: center;
    align-items: flex-start;

    height: 100vh;
    padding-left: 0px;

    color: rgb(255, 255, 255);
    z-index: 1;

    font-family: Arial, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;

    transition: opacity 1s ease, transform 0.5s ease-in-out;

    opacity: 1;
}




#planets-container {
    background: rgba(230, 223, 223, 0.05);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 2px rgb(255, 255, 255);
}


.content:hover {
    opacity: 0.8;
    transform: rotatey(180deg)
}

.back-link {
    position: absolute;
    bottom: 2em;
    /* 使用 em 确保在不同字体大小下的间距一致 */
    right: 2em;
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    /* 设置基准字体大小 */

    /* 过渡效果，鼠标悬停时渐变 */
    transition: color 0.3s ease, transform 0.3s ease;
}

.back-link:hover {
    color: #4f8fff;
    /* 悬停时改变颜色 */
    transform: scale(1.2);
    /* 悬停时稍微放大 */
}

/* 针对小屏幕的优化 */
@media (max-width: 1080px) {
    .back-link {
        bottom: 1.5em;
        /* 减小间距 */
        right: 1.5em;
        font-size: 0.9em;
        /* 减小字体大小 */
    }
}

h1 {
    font-family: 'Orbitron', sans-serif;

    font-size: 3em;

    margin: 1em 0;

}


.planet-fact {

    display: none;
    border: 1px solid rgba(9, 9, 9, 0.9);
    padding: 15px;
    border-radius: 10px;
    background: space;
    width: 40%;
    max-width: 600px;
    position: absolute;
    top: 13.5%;
    right: 2em;
    transform: translateY(-50%);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 15px rgba(0, 98, 245, 0.6);
    opacity: 0.9;
    /* 初始不透明度 */
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 10;
}


/* 针对小屏幕设备的样式调整 */
@media (max-width: 1080px) {
    .planet-fact {
        width: 90vw;
        right: 5%;
        top: 10%;
        transform: translate(0, 0);
    }
}


.planet-fact-title {
    text-align: center;
    color: rgb(183, 51, 44);
}



/* .clear-blur {
    filter: blur(0);

} */


/* .shrink {
    filter: blur(1.2px);
} */


/* 收缩状态 */
.shrunk {
    /* transform: translateY(-5%) scale(1.3); 缩小为 80% */
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* 可选：减小不透明度 */
    transform: rotateX(-90deg)
}



/* .shattered-text {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.shattered-text span {
    display: inline-block;
    transition: transform 0.5s ease, opacity 0.5s ease;
} */

.broken {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    /* 淡出效果 */
}





.image-container {
    width: 27%;
    /* 设置宽度为屏幕的三分之二 */
    display: flex;
    flex-direction: column;
    /* 使用弹性布局 */
    justify-content: center;
    /* 将内容水平居中对齐 */
    align-items: center;
    /* 垂直居中对齐 */
    padding-right: 15px;
    /* 右侧内边距，可以根据需要调整 */
    position: relative;
    /* 使定位生效 */

    margin-left: auto;
    /* 将容器推到右边 */

}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    /* 限制图片的最大高度 */
    object-fit: contain;
    /* 确保图片按比例缩放 */
}



.moving-image {
    max-height: 100%;
    height: auto;
    /* 保持图片比例 */
    transition: transform 0.3s ease, opacity 0.5s ease;
    /* 设置平滑移动的过渡效果 */
    opacity: 0.6;
    z-index: 10;
}

.moving-image:hover {
    transform: scale(1.1);
    /* 鼠标悬停时放大 */
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.5s ease,
}

.image-container {
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    position: relative;
    margin-left: auto;
    /* 推到右边 */
    margin-right: 0;
}


.image-container p {
    font-size: 12px;
    text-align: center;
}

@media (max-width: 1080px) {
    .image-container {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }

    .image-container img {
        max-height: 50vh;
        /* 限制图片高度，防止太大 */
    }
}



#funFactImage {
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: zoom-in;
    max-width: 100%;
    height: auto;
}



#funFactImage.centered {
    max-width: none;
    max-height: 80%;
    transform: translate(-50%, -50%) scale(1.2);
    /* 同时居中和放大 */
    opacity: 1;
    position: fixed;
    /* 确保图片固定在屏幕中心 */
    top: 50%;
    left: 50%;
    z-index: 10;
    /* 确保图片在最上方 */
    cursor: zoom-out;
    /* 放大后变为缩小指针 */
    transform: transform 0.3s ease, opacity 0.3s ease;
}

.nasa-link {
    display: inline-block;
    /* 使用 inline-block 保持文本内联且可以控制宽度 */
    z-index: 10;
    /* 确保链接显示在前 */
    color: #4f8fff;
    text-decoration: none;
    font-weight: bold;
    margin: 3px auto;
    /* 上下有间距，并让其水平居中 */
    padding: 3px auto;
    /* 为链接增加一些内边距 */
    position: relative;
    transition: transform 0.5s ease, text-decoration 0.5s ease;
    /* 平滑的过渡效果 */
}

.nasa-link:hover {
    transform: scale(1.03);
    /* 鼠标悬停时轻微放大 */
    text-decoration: underline;
    /* 悬停时添加下划线 */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.story {
    text-align: center;
    /* Center text inside the story */
    z-index: 2;
    /* Ensure it appears above other elements */
    position: fixed;
    /* Set relative positioning */
    max-height: 600px;
    /* 设置最大高度，防止溢出 */
    width: 60%;
    /* 让宽度自适应，最多占据屏幕宽度的80% */
    padding: 20px;
    line-height: 1.5;
    /* Set line height for better readability */
}

/* Style for all paragraphs inside the story */
.story p {
    font-style: oblique;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 32px;
    /* Set font size */
    transition: opacity 1s ease;
    /* Smooth transition for opacity */
    position: absolute;
    /* Allow positioning to overlap */
    top: 50%;
    /* All paragraphs stack on top of each other */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50%) translateY(-50%);
    /* Center horizontally */
    z-index: 2;
}

.story-out {
    transform: scale(1.25) skewX(10deg);
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
}

/* 初始状态：完全透明 */
.fade-out {
    opacity: 0;

}

.fade-in {
    opacity: 1;

}

/* 渐出动画 */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* 渐入动画 */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}